<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Add Customer</h5>
        <form class="form-signin" [formGroup]="customerForm">

          <div class="form-group">
            <label for="inputEmail" [ngClass]="{'required': checkField(customerForm.get('name')) }">Name *</label>
            <input type="text" [ngClass]="{'required': checkField(customerForm.get('name')) }" class="form-control rounded" id="name" aria-describedby="emailHelp" placeholder="Enter name" formControlName="name">
          </div>

          <div class="form-group">
              <label for="inputPassword" [ngClass]="{'required': checkField(customerForm.get('age')) }">Age *</label>
              <input type="number" class="form-control rounded" [ngClass]="{'required': checkField(customerForm.get('age')) }" id="age" aria-describedby="passwordHelp" placeholder="Enter age" formControlName="age">
          </div>

          <div class="form-group">
            <label for="inputPassword" [ngClass]="{'required': checkField(customerForm.get('address')) }">Address *</label>

            <textarea  class="form-control rounded" [ngClass]="{'required': checkField(customerForm.get('address')) }" id="address" aria-describedby="address" placeholder="Enter address" formControlName="address"></textarea>
        </div>
      
          <button id="submitButton" class="btn btn-lg btn-primary btn-block text-uppercase" type="button" [disabled]="!customerForm.valid || processing" (click)="onSubmitButtonClicked()">Add Customer</button>

        </form>
      </div>
    </div>
  </div>
</div>
